<div class="date-selector-container">
    <div class="date-selector">
        <select [(ngModel)]="selectedMonth" (change)="onSelectChange(true)" [value]="selectedMonth">
            <option [value]="month" *ngFor="let month of months">{{ 'months.' + month | translate }}</option>
        </select>
    </div>

    <div *ngIf="selectedMonth" class="date-selector">
        <select [(ngModel)]="selectedDay" (change)="onSelectChange()" [value]="selectedDay">
            <option [value]="day" *ngFor="let day of days">{{ day }}</option>
        </select>
    </div>
</div>