<div #verifier class="verifier" *ngIf="open" [ngStyle]="{ top: yCoord + 'px', left: xCoord + 'px' }">
    <div class="verifier-date">
        <div class="verifier-date-day">
            {{ 'labels.day' | translate }} {{ date.getDate() }}
        </div>
        <div class="verifier-date-month">
            {{ 'months.' + date.getMonth() | translate }} {{ date.getFullYear() }}
        </div>
    </div>
    <div class="verifier-divider"></div>
    <div class="verifier-content">
        {{ value }}
    </div>
    <i class="eva eva-link-outline verifier-icon" (click)="openEtherscan()"></i>
    <i class="eva eva-external-link-outline verifier-icon" (click)="openLink()"></i>
    <app-verifier-button [hashes]="hashes"></app-verifier-button>
</div>