:host {
    background-color: white;
}

.verifier {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    padding: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    &-date {
        &-day {
            font-size: 0.9rem;
            font-weight: bold;
        }

        &-month {
            font-size: 0.9rem;
        }
    }

    &-divider {
        align-self: stretch;
        width: 1px;
        margin: 0 20px;
        background-color: #1d1d1d;
    }
}