<div #verifier class="verifier" *ngIf="open" [ngStyle]="{ top: yCoord + 'px', left: xCoord + 'px' }">
    <div class="verifier-date">
        <div class="verifier-date-day">
            {{ 'labels.day' | translate }} {{ date.getDate() }}
        </div>
        <div class="verifier-date-month">
            {{ 'months.' + date.getMonth() | translate }} {{ date.getFullYear() }}
        </div>
    </div>
    <div class="verifier-divider"></div>
    <div class="verifier-content">
        {{ value }}
    </div>
    <i class="eva eva-link-outline verifier-icon" (click)="onCopyItem()" *ngIf="proof"></i>
    <i class="eva eva-external-link-outline verifier-icon" (click)="openLink()" *ngIf="transactionHash"></i>

    <div class="verifier-action" *ngIf="hash" (click)="verifyProof()">
       {{ (proofVerified === null ? 'verifier.label' : proofVerified === true ? 'verifier.success' : 'verifier.error')  | translate}} 
       <i class="eva eva-loader-outline verifier-action-icon" *ngIf="proofLoading"></i>
       <i class="eva eva-checkmark-circle-outline verifier-action-icon" *ngIf="proofVerified === true"></i>
       <i class="eva eva-close-circle-outline verifier-action-icon" *ngIf="proofVerified === false"></i>
    </div>
</div>