.selector {
    min-height: 100vh;
    background-color: var(--background-color);

    & > .container {
        min-height: 100vh;
        padding: 8px 16px;
    }

    &-header {
        position: fixed;
        top: 0;
        left: 0;
        padding: 8px 16px;

        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;

        background-color: var(--background-color);

        z-index: 2;

        & > img {
            width: 100%;
            max-width: 400px;
            height: auto;
            min-height: 26px;
        }
    }

    &-content {
        padding-top: 86px;
        
        display: flex;
        flex-direction: column;

        &-header {
            flex: 1;
            width: 100%;
            max-width: 480px;
            color: var(--primary-text-color);

            display: flex;
            flex-direction: column;
            justify-content: center;
    
            padding: 64px 0;
            
            h1 {
                font-size: 2rem;
                letter-spacing: 2.52px;
            }
    
            h2 {
                font-size: 1rem;
                opacity: 0.4;
                letter-spacing: 0.88px;
            }
        }

        &-items {
            flex: 2;
        }

        &-button {
            margin: 32px 16px;
            padding: 8px;

            max-width: 100%;
            width: 300px;
            align-self: center;
            border-radius: 5px;
            background-color: var(--primary-color);

            font-size: 1rem;

            text-transform: uppercase;
            letter-spacing: 0.88px;
            text-align: center;
            color: #ffffff;

            cursor: pointer;

            &:hover {
                filter: brightness(85%);
            }

            &:active {
                filter: brightness(70%);
            }
        }
    }

}