.heatmap {

  &-tabs {
    height: 80px;
    margin: 8px 0;
    padding: 0 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-item {
      max-width: 250px;
      flex: 1;
      border-radius: 2px;
      
      font-size: 0.8rem;
      color: #d5841b;
      text-align: center;

      margin: 0 4px;
      padding: 6px;

      cursor: pointer;

      &-active {
          background-color: #d5841b;
          color:white;
          
      }
    }
  }

  &-chart {
    display: flex;
    flex-direction: column;


    &-content {
      display: flex;
      flex-direction: row;
    }

    &-data {
      overflow-x: hidden;
      overflow-y: hidden;

      flex: 1;

      display: flex;

      &-container {
        display: flex;
        flex-direction: column;
        min-width: fit-content;

        flex: 1;
      }
    }

    &-label-y {
      display: flex;
      flex-direction: column;
    }
    
    &-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-width: fit-content;
      flex: 1;

      &-label {
        display: flex;
        align-items: center;
        width: 40px;
        height: 30px;
        margin: 1px;
        font-size: 0.7rem;
        color:#9a999e;
        text-align: left;
        padding: 0 6px;
      }

      &-data {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        font-size: 0.7rem;
        color:white;
        margin: 1px;
        flex: 1;

        &-active {
          border: 1px solid white;
          margin: 0;
        }
      }

      &-label-x {
        margin: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.6rem;
        color:#9a999e;
        flex: 1;
      }
    }
    
    &-divider {
      margin: 10px 0;
      height: 1px;
      background-color: #979797;
    }

  }

  &-legend {
    padding: 24px 0 0 0;
    display: flex;
    flex-direction: row;

    &-label {
      margin: 1px;
      font-size: 0.8rem;
      color: #9a999e;
      padding: 0 8px;
      text-align: center;
    }

    &-gradient {
      flex: 1;
      height: 20px;

      background-image: linear-gradient(to right, #02b3be 0%, #d5841b 100%);
    }
  }
}