.proof {
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;

    &-header {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px 16px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;

        z-index: 2;
        background-color: var(--background-color);

        & > picture {
            cursor: pointer;
        }

        &-verify {
            background-color: var(--primary-color);
            color: white;
            border-radius: 8px;
            padding: 8px 16px;
            margin-right: 8px;
            font-size: 0.9rem;
            cursor: pointer;
        }
    }

    &-action {
        border-radius: 5px;
        background-color: #d5841b;
        font-size: 0.8rem;
        color: white;
        padding: 8px 16px;
        margin-left: 20px;
        cursor: pointer;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-icon {
            padding-left: 8px;
            font-size: 1rem;
        }
    }

    &-content {
        padding: 102px 0;
    }

    &-item {
        &-title {
            color: white;
            font-size: 1.6rem;
            padding-top: 32px;
        }

        &-content {
            overflow-wrap: break-word;
            color: white;
            font-size: 0.6rem;
        }
    }
}

.container {
    overflow-y: scroll;
    height: 100%;

    display: flex;
    flex-direction: column;
}