<div class="container">
  <!--   <h2>{{ "evidences.title" | translate }}</h2>
  
 -->

  <h2 class="text-center mt-4">Evidences</h2>
  <section class="info d-flex mt-5 flex-column flex-lg-row row mb-0 mb-lg-5">
    <div class="info-video col">
      <img src="../../../../assets/images/video-cover.png" alt="bg image" />
    </div>
    <div class="info-text px-4 d-flex flex-column justify-content-center col py-4 py-lg-0">
      <h3>Check the evidences that proof our wine is organic.</h3>
      <p>Each token has its tag where the evidence of our product organic veracity is uploaded for everyone to see. If
        you find anything that's not right you can easily create a challenge to contradict the proofs presented so far
        by displying yours.</p>
    </div>
  </section>

  <section class="tag-detail">
    <h3 class="text-center mt-5 mb-4">Tag's details</h3>
    <div class="tag-detail-container col">
      <h4>State</h4>
      <div class="tag-detail-container-data" style="margin-right: 10px">
        <div class="tag-detail-container-data-unity">
          <p>Submitted</p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity">
          <span> Request type </span>
          <p> submission </p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity">
          <span>Bounty </span>
          <p> 100000 DAI </p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity">
          <span>Requester</span>
          <p>xx12333...342242 </p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity">
          <span>Ending date</span>
          <p>In 6 days </p>
        </div>
      </div>


      <h4>Tag details</h4>
      <div class="tag-detail-container-data" style="margin-right: 10px">
        <div class="tag-detail-container-data-unity">
          <div>
            <span>Public tag name</span>
            <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
              Info
            </button>
          </div>
          <p>Wintermute: Wintermute 1</p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity">
          <span> Contract address </span>
          <p> ETH: 1123cvx..bddd334 </p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity">
          <span>UI/Website link </span>
          <p> wwww.website.com </p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity">
          <span>Public note</span>
          <p>Wintermute's token management </p>
        </div>
      </div>

      <h4>Tag history</h4>
      <div class="tag-detail-container-data" style="margin-right: 10px">
      </div>

      <div class="d-flex flex-column flex-md-row justify-content-center pt-3">
        <button class="primary-btn ">View evidence</button>
        <button class="primary-btn ">Challenge submission</button>
      </div>
    </div>


    <button type="button" class="btn btn-outline-secondary me-2" placement="top"
    ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
Popover on top
</button>
  </section>
</div>
