.info {
  &-text {
    text-align: start;
    @media (max-width: 991px) {
      text-align: center;
    }
  }
  &-video {
    img {
      width: inherit;
      border-radius: 10px !important;
    }
  }
}

.tag-detail {
  &-container {
    &-data {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: rgb(241, 241, 241);
      width: 100%;
      height: auto;
      border-radius: 1em;
      justify-content: space-around;
      padding: 35px 20px;
      margin-bottom: 20px;

      @media (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
      }

      &-unity {
        padding: auto 15px;
        @media (max-width: 991px) {
          width: auto;
        }
      }
      &-separator {
        border: 1px solid #dfdfdf;
        height:80px;
        @media (max-width: 991px) {
          display: none;
        }
      }

      p {
        font-size: 1rem;
        margin: 0;
        padding: 0;
        text-align: left;
       
      }
      span {
        font-size: 0.7rem;
        text-transform: uppercase;
        color: #747474;
        letter-spacing: 0.05rem;
      }
    }
  }

}
