<div class="container">
  <h2 class="text-center mt-5">Evidences</h2>
  <section class="info d-flex mt-5 flex-column flex-lg-row row mb-0 mb-lg-5">
    <div class="info-video col">
      <video poster="../../../../assets/images/bg-video.png" controls>
        <source src="../../../../assets/images/OpenVINO- BIO DIGITAL CERTIFICATION.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video>
      <!-- <img src="../../../../assets/images/video-cover.png" alt="bg image" /> -->
    </div>
    <div
      class="info-text px-4 d-flex flex-column justify-content-center col py-4 py-lg-0"
    >
      <h3>Check the evidences that proof our wine is organic.</h3>
      <p>
        Each token has its tag where the evidence of our product organic
        veracity is uploaded for everyone to see. If you find anything that's
        not right you can easily create a challenge to contradict the proofs
        presented so far by displying yours.
      </p>
    </div>
  </section>

  <section class="tag-detail pt-1">
    <h3 class="text-center mt-5 mb-4">Tag's details</h3>
    <div class="tag-detail-container col" *ngFor="let tag of tagsDetails">
      <h4 >State</h4>
      <div class="tag-detail-container-data mr-4">
        <div class="tag-detail-container-data-unity">
          <p class="badge rounded-pill py-1 px-2 ">{{ tag.state }}</p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity">
          <span> Request type </span>
          <p>{{ tag.request_type }}</p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity">
          <span>Bounty </span>
          <p>{{ tag.bounty }}</p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity">
          <span>Requester</span>
          <p>{{ tag.requester }}</p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity">
          <span>Ending date</span>
          <p>{{ tag.ending_date }}</p>
        </div>
      </div>

      <h4>Tag details</h4>
      <div class="tag-detail-container-data" style="margin-right: 10px">
        <div class="tag-detail-container-data-unity py-1">
          <div class="d-flex">
            <span>Public tag name</span>
            <a data-toggle="tooltip" title="Description here">
              <i class="eva eva-question-mark-circle-outline"></i
            ></a>
          </div>
          <p>{{ tag.public_tag }}</p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity py-1">
          <div class="d-flex">
            <span> Contract address </span>
            <a data-toggle="tooltip" title="Description here">
              <i class="eva eva-question-mark-circle-outline"></i
            ></a>
          </div>
          <p>{{ tag.contract_address }}</p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity py-1">
          <div class="d-flex">
            <span>UI/Website link </span>
            <a data-toggle="tooltip" title="Description here">
              <i class="eva eva-question-mark-circle-outline"></i
            ></a>
          </div>
          <p>{{ tag.website }}</p>
        </div>
        <div class="tag-detail-container-data-separator"></div>
        <div class="tag-detail-container-data-unity py-1">
          <div class="d-flex">
            <span>Public note</span>
            <a data-toggle="tooltip" title="Description here">
              <i class="eva eva-question-mark-circle-outline"></i
            ></a>
          </div>
          <p>{{ tag.public_note }}</p>
        </div>
      </div>

      <h4>Tag history</h4>
      <div
        class="tag-detail-container-data d-flex flex-column"
        style="margin-right: 10px"
      >
        <div class="d-flex w-100">
          <span>
            <button
              class="expandable-btn"
              type="button"
              data-toggle="collapse"
              data-target="#collapseEvents"
              aria-expanded="false"
              aria-controls="collapseEvents"
            >

              <i class="eva eva-arrow-ios-downward-outline pr-1"></i>
              First request submission
            </button>
          </span>
          <a class="d-flex" data-mdb-toggle="tooltip" data-placement="top" title="Description here">
            <i class="eva eva-question-mark-circle-outline"></i
          ></a>
        </div>
        <div class="collapse" id="collapseEvents">
          <div class="card card-body">
            <ul class="timeline" *ngIf="eventsList.length > 0">
              <li
                *ngFor="let event of eventsList"
                class="timeline-item bg-white rounded ml-3 p-4 shadow"
              >
                <div class="timeline-arrow"></div>
                <h4 class="h5 mb-0">{{ event.title }}</h4>
                <p class="text-small mt-1 mb-2 font-weight-light">
                  {{ event.body }}
                </p>
                <span class="small text-gray">{{ event.timestamp }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="d-flex flex-column flex-md-row justify-content-center pt-3 pb-5"
      >
        <button type="button" class="primary-btn">View evidence</button>
        <button
          type="button"
          data-toggle="modal"
          data-target="#challenge-modal"
          class="primary-btn"
        >
          Challenge submission
        </button>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="challenge-modal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="ChallengeModalLabel"
        aria-hidden="true"
      >
        <form class="d-flex justify-content-center align-items-center h-100">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="max-height:95vh; overflow-y: scroll;" >
              <div class="modal-header pt-0 border-0 d-flex flex-column">
                <div class="w-100 d-flex justify-content-end">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <i class="eva eva-close-outline"></i>
                  </button>
                </div>
                <div class="w-100 d-flex flex-column justify-content-center">
                  <h3
                    class="modal-title text-center"
                    id="exampleModalLabel"
                    style="color: var(--primary-color)"
                  >
                    Challenge submission
                  </h3>
                  <p class="text-center mt-1">
                    Read the
                    <a href="" style="color: var(--primary-color)"
                      >listing criteria</a
                    >
                  </p>
                </div>
              </div>

              <div class="modal-body border-0 mt-2 mb-1">
                <div>
                  <p>
                    Explain to the jurors why you should think this submission
                    should be rejected.
                  </p>
                  <textarea
                    class="banner-bg my-2 py-3 px-4"
                    id="challenge-description"
                    name="challenge-descriptio"
                    rows="4"
                    cols="50"
                    placeholder="Write your description"
                  ></textarea>
                </div>
                <div>
                  <label class="checkbox-container mt-1 mb-1"
                    ><input
                      class="custom-checkbox"
                      type="checkbox"
                      data-toggle="collapse"
                      data-target="#collapseAttachment"
                      aria-expanded="false"
                      aria-controls="collapseAttachment"
                    />
                    Include attachment</label
                  >
                </div>
                <div class="collapse" id="collapseAttachment">
                  <div class="card card-body image-upload p-0">
                    <input
                      type="file"
                      class="file-input"
                      (change)="onFileSelected($event)"
                      #fileUpload
                    />

                    <div
                      class="file-upload banner-bg d-flex flex-column mb-2"
                      style="padding: 30px 20px"
                    >
                      <button
                        mat-mini-fab
                        class="upload-btn mb-1 d-flex justify-content-center"
                        (click)="fileUpload.click()"
                      >
                        <i class="eva eva-plus-circle"></i>
                      </button>
                      <span class="text-center">{{
                        fileName || "Upload file"
                      }}</span>
                    </div>
                  </div>
                </div>
                <div class="mt-3 mb-1">
                  <p>
                    To challenge a submission, a deposit is required. This value
                    will be awarded to the party that wins the dispute.
                  </p>
                  <div
                    class="banner-bg d-flex justify-content-between mt-2 mb-4 p-4"
                  >
                    <p>Total submitted</p>
                    <h4>450000</h4>
                  </div>
                </div>
              </div>

              <div
                class="modal-footer pt-0 mb-4 border-0 d-flex justify-content-center"
              >
                <button
                  type="button"
                  class="secondary-btn"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <button type="button" class="primary-btn">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- End Modal -->
    </div>
  </section>
</div>
