<div class="verifier-action" *ngIf="hashes" (click)="verifyProof()">
    {{ (proofVerified === null ? 'verifier.label' : proofVerified === true ? 'verifier.success' : 'verifier.error')  | translate}} 
    <i class="eva eva-loader-outline verifier-action-icon" *ngIf="proofLoading"></i>
    <i class="eva eva-checkmark-circle-outline verifier-action-icon" *ngIf="proofVerified === true"></i>
    <i class="eva eva-close-circle-outline verifier-action-icon" *ngIf="proofVerified === false"></i>
 </div>