<div class="product-header">
  <div class="container">
    <uniswap-enchainte
      *ngIf="item"
      title="Viniswap"
      [attr.providerUrl]="providerUrl"
      networkid="3"
      [attr.crowdsaleaddress]="item.crowdsaleAddress"
      [attr.tokenAddress]="item.tokenAddress"
      redeemDate="May 6, 2022"
      [attr.tokenYear]="item.year"
      [attr.tokenName]="item.id"
      [attr.image]="item.bottleImage"
      [attr.tokenIcon]="item.tokenIcon"
    ></uniswap-enchainte>
  </div>
</div>

<div class="product-content">
  <app-tabs [tabs]="tabs"></app-tabs>
  <div class="container">
    <div class="product-date">
      <app-date-selector (onDateChange)="onDateChange($event)"></app-date-selector>
    </div>
    <div class="product-content-title">
      {{ 'product.subsoil_humidity.title' | translate }}
    </div>
    <app-heatmap-chart [data]="heatmapData" [filterType]="filterType"></app-heatmap-chart>

    <div class="product-content-title">
      {{ 'product.temperature' | translate }}
    </div>
    <app-linear-chart [data]="temperatureData"></app-linear-chart>

    <div class="product-content-title">
      {{ 'product.wind' | translate }}
    </div>
    <app-linear-chart [data]="windData"></app-linear-chart>
  </div>
</div>

<app-verifier></app-verifier>