

<div class="product-header" *ngIf="item.open">
  <div class="product-header-logo">
    <picture (click)="onLogoClick()">
        <source media="(min-width: 576px)" srcset="assets/images/logo-costaflores.png">
        <img src="assets/images/logo-costaflores-reduced.png" alt="Costaflores" style="width:auto;">
    </picture>
    <div class="product-header-change" (click)="back()">
      {{ 'labels.change' | translate }}
    </div>
  </div>
  <div class="container">
    <uniswap-enchainte
      *ngIf="item"
      title="Viniswap"
      [attr.providerUrl]="providerUrl"
      networkid="1"
      [attr.mapsapikey]="mapsApiKey"
      [attr.shippingaccount]="shippingAccount"
      [attr.crowdsaleaddress]="item.crowdsaleAddress"
      [attr.tokenAddress]="item.tokenAddress"
      [attr.redeemDate]="item.redeemDate"
      [attr.tokenYear]="item.year"
      [attr.tokenName]="item.id"
      [attr.image]="item.bottleImage"
      [attr.tokenIcon]="item.tokenIcon"
      [attr.apiUrl]="apiUrl"
    ></uniswap-enchainte>
  </div>
</div>

<div class="product-content">
  <app-tabs [tabs]="tabs" (onChange)="onTabChange($event)"></app-tabs>
  <div *ngIf="tabActive.id == tabs[0].id">
    <app-sensors></app-sensors>
  </div>
 <!--  <div *ngIf="tabActive.id == tabs[1].id">
    <app-tasks-list></app-tasks-list>
  </div>
  <div *ngIf="tabActive.id == tabs[2].id">
   
    <app-business-list></app-business-list>
  </div> -->
</div>

<app-verifier></app-verifier>