.card {
  background-color: transparent;
  border: none;

  & > a {
    text-decoration: none;
    color: var(--primary-text-color);
  }

  .card-img {
    object-fit: cover;
    height: 200px;
    @media (max-width: 575px) {
      width: 100vw !important;
      height: 300px !important;
    }
  }
  .card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 575px) {
      width: 100vw !important;
      height: 300px !important;
    }

    & > p {
      font-size: 1rem !important;
      font-weight: 400;
      padding: 6px 10px;
      z-index: 999;
      color: white;
      border: 1.5px solid white;
    }
  }
  .card-body {
    padding: 5px;
    overflow: hidden;

    & > div {
      @media (max-width: 575px) {
        width: 100vw !important;
        height: 300px;
      }
    }

    .coming-soon-title {
      position: relative;
    }
    .card-img-top {
      height: 200px;
      object-fit: cover;
      opacity: 1;
      position: relative;
      @media (max-width: 575px) {
        width: 100vw !important;
      }
    }

    .card-img-link {
      text-align: center;
      font-size: 15px;
      color: white;
      opacity: 1;
      position: absolute;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: visible;
      width: 80%;
    }

    p {
      font-size: 0.7rem;
      margin: 0px;
    }
    h5 {
      text-align: left;
      padding: 10px 0 0 0;
      font-size: 1.1rem;
    }
  }
}
.card-body-img {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
