.product-selector {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: rgba(109, 114, 120, 0.22);
    }

    &:active {
        background-color: rgba(109, 114, 120, 0.22);
    }

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        height: 100%;
        width: auto;
        max-width: 100%;
    }
}