.product-selector {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s; 
    box-shadow: 35px 35px 35px 35px white inset;

  

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: auto;
        max-width: 100%;
    }
}