.product {
  &-change {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 6px 16px;
    margin-right: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
  }

  & > .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.expenses-list-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  @media (max-width: 540px) {
    width: 85%;
  }

  h2 {
    @media (max-width: 540px) {
      font-size: 1.5rem;
    }
  }

  h3 {
    @media (max-width: 540px) {
      font-size: 1.2rem;
    }
  }

  .expense-date {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }

  .expense {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-description {
      width: 80%;

      & h3 {
        color: var(--primary-color);
        font-size: 1.2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    &-details-btn {
      color: var(--primary-text-color);
      background-color: transparent;
      border: none;
      padding: 0px;

      &::after {
        content: "▾";
      }
    }

    &-verification {
      width: 20%;
    }
  }
}

h2,
h4 {
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 20px;
}

.expenses-list {
  width: 70%;
  margin: 0 auto;

  @media (max-width: 1084px) {
    width: 100%;
    margin: 0 auto;
  }
}

hr {
  width: 100%;
  border: 0;
  margin: 20px 0;
}

.empty-state-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  opacity: 50%;

  img {
    width: 4%;
    padding-bottom: 10px;
  }
}

.empty-state-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  opacity: 50%;

  img {
    width: 4%;
    padding-bottom: 10px;
    @media (max-width: 1084px) {
      width: 6%;
    }
    @media (max-width: 496px) {
      width: 10%;
    }
  }
}
.expense-detail-small {
  font-size: 14px;
  padding-top: 5px;
  color: gray;
}

.expense-detail-regular {
  font-size: 16px;
}

.graphic-group-text {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
