<div class="expenses-list-container">

  <div class="product-content-subtitle">
    <h2>{{'business.list' | translate}}</h2>
  </div>

  <div class="category-selector">
    <select [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange($event)">
        <option  *ngFor="let category of categoriesLabels | keyvalue" [value]="category.key"  [selected]="category === 'cultivo'">{{ category.value }}</option>
    </select>
</div>

  <div class="expenses-list">

    <div *ngIf="loadedExpenses.length == 0">
      <div class="empty-state-img">
        <img src="/assets/images/list.png" alt="No expenses created">
        {{'expenses-app.home.empty-state' | translate}}
      </div>
    </div>
    <div class="expense" *ngFor="let expense of loadedExpenses.expenses">
      <div class="expense-box">
        <div class="expense-description">
          <p class="expense-date">{{expense.timestamp | date:"short"}}</p>
          <p *ngIf="expense.categories && expense.categories.length > 0">
            {{'expenses.categories' | translate}}</p>
          <h3>{{'expenses.categories.' + expense.expense_id  | translate}}</h3>
          <p>{{expense.description}}</p>
          <h5>{{expense.value + " $"}}</h5>
        </div>
        <app-verifier-button [hashes]="[expense.hash]"></app-verifier-button>
      </div>
      <hr>
    </div>
  </div>

</div>
