<div class="expenses-list-container">
  <div class="product-content-subtitle">
    <h2>{{'expenses.list' | translate}}</h2>
  </div>

  <div class="category-selector">
    <select [(ngModel)]="selectedCategory" (ngModelChange)="fetchExpenses(item.year, wineryId, selectedCategory)"
      style="border-bottom: 1px solid black; border-top: none; border-right: none; border-left: none; outline: none;">
      <option value="-1" >{{'expenses.all-categories' | translate}}</option>
      <option *ngFor="let category of categoriesLabels | keyvalue" [value]="category.key" >{{ category.value }}</option>
    </select>
  </div>

  <div class="expenses-list">
    <div *ngIf=" selectedCategory && loadedExpenses.expenses.length === 0">
      <div class="empty-state-img">
        <img src="/assets/images/list.png" alt="No expenses created">
        {{'expenses.empty-state' | translate}}
      </div>
    </div>

    <div *ngIf="loadedExpenses.expenses.length > 0">
      <div class="expense" *ngFor="let expense of loadedExpenses.expenses">
        <div class="expense-box">
          <div class="expense-description">
            <p class="expense-date">{{expense.timestamp | date:"d/M/yy, h:mm a"}}</p>
            <p *ngIf="expense.categories && expense.categories.length > 0">
              {{'expenses.categories' | translate}}</p>
            <h3>{{'expenses.categories.' + expense.expense_id  | translate}}</h3>
            <p class="expense-description-text">{{expense.description}}</p>
            <h5>{{expense.value + " $"}}</h5>
          </div>
          <app-verifier-button [hashes]="[expense.hash]"></app-verifier-button>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
