<div class="winery-selector">
  <div class="container">
    <div class="winery-selector-header">
      <picture (click)="onLogoClick()">
        <source media="(min-width: 576px)">
        <img src="assets/images/openvino-logo.png" alt="Openvino" style="width:200px;">
      </picture>
      <ul class="d-flex ">
        <li>Openvino wiki</li>
        <li>Contact</li>

      </ul>
    </div>
    <div class="winery-selector-content">
      <div class="d-flex align-items-center justify-content-between">
        <div class="selector-content-header py-4 py-sm-5">
          <h1>{{ 'Wineries' }}</h1>
        </div>
        <div class="input-group rounded">
        
          <span> <i src="assets/images/search.svg" class="fas fa-search" height="50px" width="50px"></i></span>
         
          <input type="search" class="form-control rounded search-input" placeholder="Search for your winery here"
            aria-label="Search" aria-describedby="search-addon" />
    <!--       <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span> -->
        </div>

       

      </div>
      <div class="card-group">
        <product-winery-selector  style="padding-bottom: 24px;" *ngFor="let product of productList" [product]="product" (onProductClick)="onProductClick($event)"></product-winery-selector>
      </div>

    </div>
  </div>
</div>
