<div class="winery-selector">
  <nav class="navbar navbar-expand-sm navbar-light bg-transparent winery-selector-navbar">
    <div class="d-flex justify-content-between w-100">
      <div>
        <a class="navbar-brand" (click)="onLogoClick()"> <img src="assets/images/openvino-logo.png" alt="Openvino"
            style="width:200px;"></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse w-full justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">OPENVINO WIKI</a>
        <a class="nav-item nav-link" href="#">CONTACT</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="winery-selector-content">
      <div class="d-sm-flex align-items-center justify-content-between py-2 py-sm-3">
        <div class="selector-content-header pb-2">
          <h1>{{ 'Wineries' }}</h1>
        </div>
        <div class="input-group rounded pb-2">
          <input type="text" class="form-control rounded search-input" [(ngModel)]="searchWinery" placeholder="Search for your winery here"
            name="search"  />
        </div>
      </div>
      <div *ngIf="wineriesList.length > 0" class="card-group">
        <product-winery-selector class="single-card" *ngFor="let winery of wineriesList | filter:searchWinery" [product]="winery"
          (onProductClick)="onProductClick($event)"></product-winery-selector>
      </div>
      <div *ngIf="wineriesList.length === 0" class="empty-state-img">
        <div>
          <img src="/assets/images/winery-empty-state.png" alt="No wineries added yet">
          {{'wineries.empty-state' | translate}} No wineries added yet
        </div>
      </div>

    </div>
  </div>
</div>
