.winery-selector {
  min-height: 100vh;
  background-color: var(--background-gray);

  & > .container {
    min-height: 100vh;
    padding: 8px 16px;
  }

  &-navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 40px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-gray) !important;
    border-bottom: 1px solid rgb(218, 218, 218);

    z-index: 2;

    @media (max-width: 575px) {
      padding: 20px 20px;
    }

    a {
      cursor: pointer;
    }
    .nav-link {
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }

    .navbar-collapse {
      width: 100%;
      @media (max-width: 575px) {
        padding-top: 15px;
      }
    }

    & > ul {
      margin: 0px;
      & > li {
        padding: 0 20px;
        list-style-type: none;
      }
    }

    & > img {
      width: 100%;
      max-width: 400px;
      height: auto;
      min-height: 26px;
    }
  }

  &-content {
    padding-top: 150px;
    display: flex;
    flex-direction: column;

    &-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 2rem;
        letter-spacing: 2.52px;
        text-transform: uppercase;
      }

      h2 {
        font-size: 1rem;
        opacity: 0.4;
        letter-spacing: 0.88px;
      }
      p {
        font-size: 0.5rem;
      }
    }

    &-items {
      flex: 2;
    }

    &-button {
      margin: 32px 16px;
      padding: 8px;

      max-width: 100%;
      width: 300px;
      align-self: center;
      border-radius: 5px;
      background-color: var(--primary-color);

      font-size: 1rem;

      text-transform: uppercase;
      letter-spacing: 0.88px;
      text-align: center;
      color: #ffffff;

      cursor: pointer;

      &:hover {
        filter: brightness(85%);
      }

      &:active {
        filter: brightness(70%);
      }
    }
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .input-group {
    width: 50%;
    @media (max-width: 575px) {
      width: 100%;
    }

    & > input {
      background-color: rgb(235, 235, 235);
      border: none;
      padding: 25px 40px;
    }
  }
}

.card-winery {
  width: 25% !important;
  @media (max-width: 840px) {
    width: 33% !important;
  }
}

.form-control {
  background: url(/assets/images/search.png) no-repeat 10px;
  background-size: 20px;
  background-color: #747474;
}

.form-control:focus {
  outline: none !important;
  border-color: #7a7a7a !important;
  box-shadow: 0 0 2px #b1b1b1 !important;
}

.empty-state-img {
  height: 100%;
  width: 100%;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    text-align: center;
  }

  img {
    width: 11%;
    padding-bottom: 10px;
    @media (max-width: 1084px) {
      width: 15%;
    }
    @media (max-width: 496px) {
      width: 20%;
    }
  }
}
