<div class="winery-selector">
  <nav
    class="navbar navbar-expand-sm navbar-light bg-transparent winery-selector-navbar"
  >
    <div class="d-flex justify-content-between w-100">
      <div>
        <a class="navbar-brand" (click)="onLogoClick()">
          <img
            src="assets/images/openvino-logo.png"
            alt="Openvino"
            style="width: 200px"
        /></a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div
      class="collapse navbar-collapse w-full justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a
          class="nav-item nav-link"
          href="https://openvino.atlassian.net/wiki/spaces/OPENVINO/overview?mode=global"
          target="blank"
          >{{ "wineries.openvino-wiki" | translate }}</a
        >
        <a
          class="nav-item nav-link"
          href="https://openvino.org/es/"
          target="blank"
          >{{ "wineries.contact" | translate }}</a
        >
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="winery-selector-content">
      <div
        class="d-sm-flex align-items-center justify-content-between py-2 py-sm-3"
      >
        <div class="selector-content-header pb-2">
          <h1>{{ "wineries.title" | translate }}</h1>
          <div *ngIf="productList.length > -1" class="card-group">
            <div class="single-card" *ngFor="let product of productList">
              {{ product.year }}
            </div>
          </div>
        </div>
        <div class="input-group rounded pb-2">
          <input
            type="text"
            class="form-control rounded search-input"
            [(ngModel)]="searchTerm"
            placeholder="{{ 'wineries.search' | translate }}"
            (input)="search($event)"
            name="searchTerm"
          />
        </div>
      </div>
      <div *ngIf="wineriesList.length > 0" class="card-group">
        <product-winery-selector
          class="card-winery"
          *ngFor="let winery of wineriesList"
          [product]="winery"
          (onProductClick)="onProductClick($event)"
        ></product-winery-selector>
        <product-comingsoon-winery-selector
          class="card-winery"
          *ngFor="let winery of comingSoonWineriesList"
          [product]="winery"
        ></product-comingsoon-winery-selector>
      </div>
      <div *ngIf="wineriesList.length === 0" class="empty-state-img">
        <div>
          <img
            src="/assets/images/winery-empty-state.png"
            alt="No wineries added yet"
          />
          {{ "wineries.empty-state" | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
