<div class="container">
  <h2>{{ "sensors.title" | translate }}</h2>

  <div class="dashboard" *ngIf="isDashboardReady()">
    <div class="dashboard-header">
      <div class="dashboard-header-state">
        <h4>{{ randomCycle }}</h4>
        <h4></h4>
        <div>
          <ul>
            <a
              href="https://what3words.com/multimedia.sonorous.puppies"
              target="_blank"
            >
              <li>{{ "sensors.dashboard.location" | translate }}</li>
            </a>
            <!--  <a href="/">
              <li>{{'sensors.dashboard.lastImage' | translate}} |</li>
            </a>
            <a href="/">
              <li>{{'sensors.dashboard.timelapse' | translate}}</li>
            </a> -->
          </ul>
        </div>
      </div>

      <div class="dashboard-header-stream">
        <!-- <button>{{'sensors.dashboard.livestream' | translate}}</button> -->
        <div>
          <p *ngIf="lastUpdatedDate">
            {{ "sensors.dashboard.lastUpdate" | translate }}:
            {{
              lastUpdatedDate != "" && lastUpdatedDate
                | date: "dd/MM/yyyy hh:mm"
            }}
          </p>
        </div>
      </div>
    </div>

    <div class="dashboard-data-hz">
      <div
        *ngIf="dashboardSensorData"
        class="dashboard-data-hz-group"
        style="margin-right: 10px"
      >
        <div class="dashboard-data-hz-unit">
          <span>{{ "sensors.dashboard.temperature" | translate }}</span>
          <p>{{ dashboardSensorData[0] }} ºc</p>
        </div>

        <div class="dashboard-data-group-hz-unit">
          <span>{{ "sensors.dashboard.relativeHumidity" | translate }}</span>
          <p>{{ dashboardSensorData[0] }}<span> %</span></p>
        </div>
        <div class="dashboard-data-group-hz-unit">
          <span>{{ "sensors.dashboard.wind" | translate }}</span>
          <p>{{ dashboardSensorData[6] }}<span> km</span></p>
        </div>
        <div class="dashboard-data-group-hz-unit">
          <span>{{ "sensors.dashboard.windDirection" | translate }}</span>
          <p>{{ dashboardSensorData[7] }}<span> º</span></p>
        </div>
      </div>

      <div *ngIf="dashboardSensorData" class="dashboard-data-hz-group">
        <div class="dashboard-data-hz-unit">
          <span>{{ "sensors.dashboard.solarIR" | translate }}</span>
          <p>{{ dashboardSensorData[2] }}</p>
        </div>
        <div class="dashboard-data-group-hz-unit">
          <span>{{ "sensors.dashboard.solarVI" | translate }}</span>
          <p>{{ dashboardSensorData[3] }}</p>
        </div>
        <div class="dashboard-data-group-hz-unit">
          <span>{{ "sensors.dashboard.solarUV" | translate }}</span>
          <p>{{ dashboardSensorData[4] }}</p>
        </div>
        <div class="dashboard-data-group-hz-unit">
          <span>{{ "sensors.dashboard.pressure" | translate }}</span>
          <p>{{ dashboardSensorData[8] }}</p>
        </div>
      </div>
    </div>

    <div class="dashboard-data-vr">
      <div
        *ngIf="dashboardAnalysisData"
        class="dashboard-data-vr-group"
        style="width: 25%; margin-right: 10px"
      >
        <h5>{{ "sensors.dashboard.inputMolecules" | translate }}</h5>
        <div class="dashboard-data-vr-group-unit">
          <span>{{ "sensors.dashboard.co" | translate }}</span>
          <div>
            <p>{{ dashboardAnalysisData[0] }}</p>
            <span> kg/ha</span>
          </div>
        </div>
        <hr />
        <div class="dashboard-data-vr-group-unit">
          <span>{{ "sensors.dashboard.s" | translate }}</span>
          <div>
            <p>{{ dashboardAnalysisData[1] }}</p>
            <span> kg/ha</span>
          </div>
        </div>
        <hr />
        <div class="dashboard-data-vr-group-unit">
          <span>{{ "sensors.dashboard.guano" | translate }}</span>
          <div>
            <p>{{ dashboardAnalysisData[2] }}</p>
            <span>kg/ha</span>
          </div>
        </div>
        <hr />
        <div class="dashboard-data-vr-group-unit">
          <span>{{ "sensors.dashboard.h2o" | translate }}</span>
          <div>
            <p>{{ dashboardAnalysisData[3] }}</p>
            <span> l/ha</span>
          </div>
        </div>
      </div>

      <div
        *ngIf="dashboardData"
        class="dashboard-data-vrandhz"
        style="width: 75%"
      >
        <div class="dashboard-data-vrandhz-group">
          <h5>{{ "sensors.dashboard.grapeStatus" | translate }}</h5>
          <div class="dashboard-data-vrandhz-subgroup">
            <span>{{ "sensors.dashboard.mbo" | translate }}</span>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.ph" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[2].ph }}
              </p>
            </div>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.bx" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[2].bx }}
              </p>
            </div>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.ta" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[2].ta
                }}<span> %</span>
              </p>
            </div>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.kg" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[2].kg }}
              </p>
            </div>
          </div>
          <hr />
          <div class="dashboard-data-vrandhz-subgroup">
            <span>{{ "sensors.dashboard.mbe" | translate }}</span>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.ph" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[3].ph }}
              </p>
            </div>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.bx" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[3].bx }}
              </p>
            </div>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.ta" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[3].ta
                }}<span> %</span>
              </p>
            </div>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.kg" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[3].kg }}
              </p>
            </div>
          </div>
          <hr />
          <div class="dashboard-data-vrandhz-subgroup">
            <span>{{ "sensors.dashboard.pv" | translate }}</span>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.ph" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[1].ph }}
              </p>
            </div>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.bx" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[1].bx }}
              </p>
            </div>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.ta" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[1].ta
                }}<span> %</span>
              </p>
            </div>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.kg" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[1].kg }}
              </p>
            </div>
          </div>
          <hr />
          <div class="dashboard-data-vrandhz-subgroup">
            <span>{{ "sensors.dashboard.cs" | translate }}</span>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.ph" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[0].ph }}
              </p>
            </div>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.bx" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[0].bx }}
              </p>
            </div>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.ta" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[0].ta
                }}<span> %</span>
              </p>
            </div>
            <div class="dashboard-data-hz-group-unit">
              <span>{{ "sensors.dashboard.kg" | translate }}</span>
              <p>
                {{ dashboardData.analysis && dashboardData.analysis[0].kg }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>{{ "sensors.subtitle" | translate }}</h3>
 <div class="bottle-img">
    <div class="bottle">
      <img
        src="/assets/images/bottle-chart-dynamic.png"
        style="width: 33%; min-width: 350px; height: 100%"
        alt="Wine bottle with percentatges of amount of work"
      />
      <div class="bottle-metric bottle-metric-1">
        <span class="bottle-metric-percent"
          >{{ item.metrics.grape_cultivation }}%</span
        >
        <span class="bottle-metric-label">{{'expenses.categories.0' | translate}}</span>
      </div>
      <div class="bottle-metric bottle-metric-2">
        <span class="bottle-metric-percent"
          >{{ item.metrics.wine_production }}%</span
        >
        <span class="bottle-metric-label">{{'expenses.categories.1' | translate}}</span>
      </div>
      <div class="bottle-metric bottle-metric-3">
        <span class="bottle-metric-percent">{{ item.metrics.packaging }}%</span>
        <span class="bottle-metric-label">{{'expenses.categories.2' | translate}}</span>
      </div>
      <div class="bottle-metric bottle-metric-4">
        <span class="bottle-metric-percent">{{ item.metrics.logistics }}%</span>
        <span class="bottle-metric-label">{{'expenses.categories.3' | translate}}</span>
      </div>
      <div class="bottle-metric bottle-metric-5">
        <span class="bottle-metric-percent"
          >{{ item.metrics.administration }}%</span
        >
        <span class="bottle-metric-label">{{'expenses.categories.4' | translate}}</span>
      </div>
      <div class="bottle-metric bottle-metric-6">
        <span class="bottle-metric-percent">{{ item.metrics.marketing }}%</span>
        <span class="bottle-metric-label">{{'expenses.categories.5' | translate}}</span>
      </div>
    </div>
  </div> 

  <h3>{{ "product.tabs.sensoric" | translate }}</h3>
 <div class="product-date">
    <app-date-selector
      [year]="item.year"
      (onDateChange)="onDateChange($event)"
    ></app-date-selector>
  </div>

  <div class="product-content-title">
    {{ "product.subsoil_humidity.title" | translate }}
  </div>
  <app-heatmap-chart
    [data]="heatmapData"
    [filterType]="filterType"
  ></app-heatmap-chart>

  <div class="product-content-title">
    {{ "product.temperature" | translate }}
  </div>
  <app-linear-chart [data]="temperatureData"></app-linear-chart>

  <div class="product-content-title">
    {{ "product.wind-speed" | translate }}
  </div>
  <app-linear-chart [data]="windSpeedData"></app-linear-chart>

  <div class="product-content-title">
    {{ "product.wind-direction" | translate }}
  </div>
  <app-linear-chart
    [data]="windDirectionData"
    [min]="0"
    [max]="360"
  ></app-linear-chart>

  <div class="product-content-title">
    {{ "product.humidity" | translate }}
  </div>
  <app-linear-chart
    [data]="humidityData"
    [min]="0"
    [max]="100"
  ></app-linear-chart>

  <div class="product-content-title">
    {{ "product.pressure" | translate }}
  </div>
  <app-linear-chart
    [data]="pressureData"
    [min]="950"
    [max]="1020"
  ></app-linear-chart>

  <div class="product-content-title">
    {{ "product.rain" | translate }}
  </div>
  <app-linear-chart [data]="rainData" [min]="0" [max]="400"></app-linear-chart>

  <div class="product-content-title">
    {{ "product.irradiance-uv" | translate }}
  </div>
  <app-linear-chart [data]="irradianceUVData"></app-linear-chart>

  <div class="product-content-title">
    {{ "product.irradiance-vi" | translate }}
  </div>
  <app-linear-chart [data]="irradianceVIData"></app-linear-chart>

  <div class="product-content-title">
    {{ "product.irradiance-ir" | translate }}
  </div>
  <app-linear-chart [data]="irradianceIRData"></app-linear-chart>  
</div>
