:root {
  --primary-color: #d5841b;
  --secondary-color: #9a999e;

  --primary-text-color: #141414;

  --background-color: rgb(255, 255, 255);
  --background-gray: rgb(243, 243, 243);
}

* {
  @font-face {
    font-family: "Futura";
    src: url("assets/fonts/Futura-Light.ttf");
    font-weight: 300;
  }

  @font-face {
    font-family: "Futura";
    src: url("assets/fonts/Futura-Medium.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: "Futura";
    src: url("assets/fonts/Futura-Bold.ttf");
    font-weight: 700;
  }

  font-family: "Futura", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 36px;
  line-height: 42px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

h4 {
  font-size: 18px !important;
  color: var(--primary-color);
}

p {
  font-size: 16px;
}

.primary-btn {
  margin: 8px;
  padding: 8px;
  max-width: 100%;
  width: 200px;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.primary-btn:hover {
  opacity: 0.9;
}

.expandable-btn {
  padding: 0;
  max-width: 100%;
  width: 100%;
  align-self: center;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  text-align: center;
  color: #1b1b1b;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.expandable-btn i {
  padding: 0;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
