
:root{
    --primary-color: #d5841b;
    --secondary-color: #9a999e;

    --primary-text-color: #141414;

    --background-color: #fff;
}

* {
    @font-face {
        font-family: 'Futura';
        src: url('assets/fonts/Futura-Light.ttf');
        font-weight: 300;
    }

    @font-face {
        font-family: 'Futura';
        src: url('assets/fonts/Futura-Medium.ttf');
        font-weight: 500;
    }

    @font-face {
        font-family: 'Futura';
        src: url('assets/fonts/Futura-Bold.ttf');
        font-weight: 700;
    }

    font-family: 'Futura', Helvetica, Arial, sans-serif;
}

.empty-state-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    opacity: 50%;
  
    img {
      width: 4%;
      padding-bottom: 10px;
      @media (max-width: 1084px) {
        width: 6%;
      }
      @media (max-width: 496px) {
        width: 10%;
      }
    }
  }