.product {
    &-change {
        background-color: var(--primary-color);
        color: rgb(255, 255, 255);
        border-radius: 6px;
        padding: 6px 16px;
        margin-right: 8px;
        font-size: 0.9rem;
        cursor: pointer;
        border:none;
    }
    
    & > .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.tasks-list-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
        
     .tasks-bottle-chart {
         align-items: center;
            .task-bottle-chart-name{
                display: flex;
                flex-direction: row;
                width: 35%;
            }
             &-img{
                text-align: center;
                position: relative;
                img{
                    width: 600px; 
                    margin:10px auto;  
                }
            }
             &-names{
                 position: absolute;
                 width: 78%;
                 height: 700px;
                 display: flex;
                 flex-direction: column;
                 justify-content: space-around;
                 align-items: flex-end;
                 padding-top:170px;

                &-right{
                    position: absolute;
                    width: 95%;
                    height: 765px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding-top:120px;
                }

                &-left{
                    position: absolute;
                    width: 95%;
                    height: 840px;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    padding-top:140px;
                }
                
                 
                .chart-name-percentage{
                    color:var(--primary-text-color);  
                    font-size: 2rem; 
                    padding: 0 20px;
                }
                .chart-name-title{
                    font-size: 1.5rem; 
                    color:var(--primary-color);  
                    line-height: 1.1;
                    padding-bottom: 10px;
                }
                .chart-name-description{
                    font-size: 1rem; 
                }
            }
        }   

     .task-date{
        margin: 10px 0 10px 0;
    }

     .task{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        width: 100%;
        
        &-description {
            width: 80%;
            
            & h3{
                color: var(--primary-color);
                font-size:1.2em; 
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        
        &-details-btn {
            color: var(--primary-text-color);
            background-color: transparent;
            border: none;
            padding:0px;    
            
            &::after{
                content: "▾";
            }    
        }
        
        &-verification {
            width: 20%;
        }
    }
}

.collapse {
    & ul{
        padding: 0;
        list-style-type: none;
        color: var(--primary-text-color);
    }

    & hr{
        border: 0;
        border-top: 1px solid #8c8c8c;
        border-bottom: 1px solid #fff;
        margin: 20px 0;
    }

    &-card-body{
        border:none;
        margin: 20px 0;
    }
}

h2,h4 {
    text-align: center;
    color: var(--primary-text-color);
    margin-top: 20px;
}
