<div class="tasks-list-container">
    <h2>{{'tasks.title' | translate}}</h2>
    <div class="tasks-bottle-chart">
        <div class="tasks-bottle-chart-names">
            <div class="tasks-bottle-chart-names-right">
                <div class="task-bottle-chart-name" id="chart-task-one">

                    <div class="chart-name-percentage">20%</div>

                    <div class="chart-name-text">
                        <div class="chart-name-title">{{'tasks.types.0.title' | translate}}</div>
                        <div class="chart-name-description">{{'tasks.types.0.description' | translate}}</div>
                    </div>
                </div>
                <div class="task-bottle-chart-name" id="chart-task-two">
                    <div class="chart-name-percentage">20%</div>
                    <div class="chart-name-text">
                        <div class="chart-name-title">{{'tasks.types.1.title' | translate}}</div>
                        <div class="chart-name-description">{{'tasks.types.1.description' | translate}}</div>
                    </div>
                </div>
                <div class="task-bottle-chart-name" id="chart-task-three">

                    <div class="chart-name-percentage">20%</div>

                    <div class="chart-name-text">
                        <div class="chart-name-title">{{'tasks.types.2.title' | translate}}</div>
                        <div class="chart-name-description">{{'tasks.types.2.description' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="tasks-bottle-chart-names-left">
                <div class="task-bottle-chart-name" id="chart-task-four">
                    <div class="chart-name-text" style="text-align: right;">
                        <div class="chart-name-title">{{'tasks.types.3.title' | translate}}</div>
                        <div class="chart-name-description">{{'tasks.types.3.description' | translate}}</div>
                    </div>

                    <div class="chart-name-percentage">20%</div>

                </div>
                <div class="task-bottle-chart-name" id="chart-task-five">
                    <div class="chart-name-text" style="text-align: right;, margin-top:7px;">
                        <div class="chart-name-title">{{'tasks.types.4.title' | translate}}</div>
                        <div class="chart-name-description">{{'tasks.types.4.description' | translate}}</div>
                    </div>

                    <div class="chart-name-percentage">20%</div>

                </div>
            </div>
        </div>
        <div class="tasks-bottle-chart-img">
            <img src="/assets/images/bottle-img.png" alt="Wine bottle with percentatges of amount of work">
        </div>
    </div>


    <div class="product-content-subtitle">
        <h4>{{'tasks.list' | translate}}</h4>
    </div>

    <div class="product-date">
        <app-date-selector (onDateChange)="onDateChange($event)"></app-date-selector>
    </div>

    <div class="tasks-list">
        <div *ngIf="!loadedTasks || loadedTasks.length < 1">
            {{'tasks.emptyList' | translate}}
        </div>
        <div *ngIf="loadedTasks || loadedTasks.length > 0">
            <div *ngFor="let date of loadedTasks | keyvalue : sortByDate">
                <div class="task-date">{{getDate(date.key).getDate()}} {{'months.'+ getDate(date.key).getMonth() |
                    translate}} {{getDate(date.key).getFullYear()}}</div>
                <div *ngFor="let value of date.value">
                    <div class="task">
                        <div class="task-description">
                            <h3>{{'tasks.types.' + value.typeId + '.title' | translate}}</h3>
                            <button type="button" class="task-details-btn" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#task-' + value.hash.hash" aria-expanded="false"
                                [attr.aria-controls]="'#task-' + value.hash.hash">
                                {{'tasks.details.title' | translate}}
                            </button>
                        </div>
                        <app-verifier-button [hashes]="[value.hash]"></app-verifier-button>

                    </div>
                    <div class="collapse" [id]="'task-' + value.hash.hash">
                        <ul class="details-info-ul card card-body">

                            <li *ngIf="value.tools && value.tools.length > 0"> {{'tasks.details.tools' | translate}}:&nbsp;
                                <div *ngFor="let tool of value.tools">{{'tasks.tools.' + tool.name | translate}} &nbsp;</div>
                            </li>
                            <li *ngIf="value.chemicals && value.chemicals.length > 0"> {{'tasks.details.chemicals' |
                                translate}}:&nbsp; <div *ngFor="let chemical of value.chemicals"> {{'tasks.chemicals.' +
                                    chemical.name | translate}} ({{chemical.amount}})</div>
                            </li>
                            <li>{{'tasks.details.startDate' | translate}}: {{value.startDate | date:"short"}}</li>
                            <li>{{'tasks.details.endDate' | translate}}: {{value.endDate | date:"short"}}</li>
                            <li>{{'tasks.details.notes' | translate}}: {{value.notes}}</li>
                            <li>{{'tasks.details.startLocation' | translate}}: {{value.iniClaro}}</li>
                            <li>{{'tasks.details.endLocation' | translate}}: {{value.endClaro}}</li>
                        </ul>
                    </div>
                    <hr>
                </div>
            </div>

        </div>
    </div>
</div>