.product {
  &-change {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 6px 16px;
    margin-right: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
  }

  & > .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.tasks-list-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  
  @media (max-width: 540px) {
    width: 85%;
  }

  .task-date {
    margin: 35px 0 20px 0;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }

  .task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-description {
      width: 80%;
    }

    &-details-btn {
      color: var(--primary-text-color);
      background-color: transparent;
      border: none;
      padding: 0px;

      &::after {
        content: "▾";
      }
    }

    &-verification {
      width: 20%;
    }
  }
}

.collapse {
  & ul {
    padding: 0;
    list-style-type: none;
    color: var(--primary-text-color);
    border: none;
  }

  .card-body {
    border: none;
    margin: 20px 0;
    list-style-type: none;
  }
}

.collapsing {
  border: none;
  visibility: hidden;
  transition: 0.1ms;
}

.tasks-list {
  width: 70%;
  margin: 0 auto;

  @media (max-width: 1084px) {
    width: 100%;
    margin: 0 auto;
  }

  hr {
    border: 0;
    margin: 30px 0 20px 0;
  }

  .tasks-bottle-chart-name {
    width: 95%;
  }
}

.task-detail-small {
  font-size: 0.6rem;
  padding: 15px 0 5px 0;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.task-detail-regular {
  font-size: 16px;
}

.graphic-group-text {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
